## **üòÄÍ≤ΩÏ†úÏßÄÌëúÏóê Îî∞Î•∏ ÏÑúÏö∏Ïãú ÍµêÌÜµÎüâ ÏòàÏ∏°ÌïòÍ∏∞üòÄ**

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Îç∞Ïù¥ÌÑ∞Î•º ÏùΩÏñ¥ÏòµÎãàÎã§
# traffic-> target value
# feature values
traffic=pd.read_csv("Seoul_traffic_rate_cleaned.csv",encoding="utf-8")

gdp=pd.read_csv("Gdp_cleaned.csv",encoding="utf-8")
gas_price=pd.read_csv("Gas_price_cleaned.csv",encoding="utf-8")
population=pd.read_csv("Population_seoul.csv",encoding="utf-8")
car_registration=pd.read_csv("Car_registration_cleaned.csv",encoding="utf-8")

#Ï∂îÍ∞ÄÌïú Îç∞Ïù¥ÌÑ∞
min_wage=pd.read_csv("Min_wage_cleaned.csv",encoding="utf-8")
transition_fee=pd.read_csv("Trans_fee_cleaned.csv",encoding="utf-8")
consumer_price=pd.read_csv("Consumer_price_cleaned.csv",encoding="utf-8")
interest_rate=pd.read_csv("Interest_rate.csv",encoding="utf-8")
employed_num=pd.read_csv("Employed_num_cleaned.csv",encoding="utf-8")
in_out=pd.read_csv("Import_and_Export_cleaned.csv",encoding="utf-8")

## GDP Î•º Í∏∞Ï§ÄÏúºÎ°ú Îã§Î•∏ Îç∞Ïù¥ÌÑ∞Îì§Ïùò ÏÜçÏÑ±ÏùÑ Î∂ôÏó¨Ï§çÎãàÎã§

In [3]:
df=gdp.copy()
df['Regular Gasoline']=gas_price['Regular Gasoline']
df['Diesel for automobiles']=gas_price['Diesel for automobiles']
df['population']=population['population']
df['Car registration']=car_registration['Car registration']
df['Traffic rate']=traffic['Traffic rate']
df

,Date,GDP,Economic growth rate,Regular Gasoline,Diesel for automobiles,population,Car registration,Traffic rate
0,2015-01-01,394273,2.4,1568.65,1383.99,10045027,3056588.0,5400081.5
1,2015-01-02,394273,2.4,1568.65,1383.99,10045027,3056588.0,5220255.0
2,2015-01-03,394273,2.4,1568.65,1383.99,10045027,3056588.0,4480084.5
3,2015-01-04,394273,2.4,1568.65,1383.99,10045027,3056588.0,5486275.0
4,2015-01-05,394273,2.4,1531.05,1351.25,10045027,3056588.0,5831397.0
...,...,...,...,...,...,...,...,...
3374,2024-03-28,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN
3375,2024-03-29,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN
3376,2024-03-30,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN
3377,2024-03-31,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN
3378,2024-04-01,587840,1.3,1673.25,1551.30,"9,378,269",NaN,NaN

In [4]:
df['Min wage']=min_wage['Min wage(hour)']
df['Min wage increase rate']=min_wage['Min wage Increase rate']

df['City bus trunk line']=transition_fee['City bus trunk line']
df['City bus wide area']=transition_fee['City bus wide area']
df['City bus circulation']=transition_fee['City bus circulation']
df['City bus late at night']=transition_fee['City bus late at night']
df['Town bus']=transition_fee['Town bus']
df['Subway']=transition_fee['Subway']
df['Texi']=transition_fee['Texi']
df['Model texi']=transition_fee['Model Texi']

df['Consumer price']=consumer_price['Consumer price index']

df['Interest rate']=interest_rate['Interest rate']

df['Number of employed']=employed_num['Number of employed(Seoul)']

df['Export amount']=in_out['Export amount']
df['Export growth rate']=in_out['Export growth rate']
df['Import amount']=in_out['Import amount']
df['Import growth rate']=in_out['Import growth rate']
df

,Date,GDP,Economic growth rate,Regular Gasoline,Diesel for automobiles,population,Car registration,Traffic rate,Min wage,Min wage increase rate,...,Subway,Texi,Model texi,Consumer price,Interest rate,Number of employed,Export amount,Export growth rate,Import amount,Import growth rate
0,2015-01-01,394273,2.4,1568.65,1383.99,10045027,3056588.0,5400081.5,"5,580",7.1,...,1250,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2
1,2015-01-02,394273,2.4,1568.65,1383.99,10045027,3056588.0,5220255.0,"5,580",7.1,...,1250,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2
2,2015-01-03,394273,2.4,1568.65,1383.99,10045027,3056588.0,4480084.5,"5,580",7.1,...,1250,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2
3,2015-01-04,394273,2.4,1568.65,1383.99,10045027,3056588.0,5486275.0,"5,580",7.1,...,1250,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2
4,2015-01-05,394273,2.4,1531.05,1351.25,10045027,3056588.0,5831397.0,"5,580",7.1,...,1250,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,2024-03-28,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,...,1400,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4
3375,2024-03-29,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,...,1400,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4
3376,2024-03-30,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,...,1400,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4
3377,2024-03-31,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,...,1400,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4
3378,2024-04-01,587840,1.3,1673.25,1551.30,"9,378,269",NaN,NaN,"9,860",2.5,...,1400,4800,7000,113.990,0.035,525.21,"56,261,590",13.8,"54,732,441",5.4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3379 entries, 0 to 3378
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    3379 non-null   object
 1   GDP                     3379 non-null   int64
 2   Economic growth rate    3379 non-null   float64
 3   Regular Gasoline        3379 non-null   float64
 4   Diesel for automobiles  3379 non-null   float64
 5   population              3379 non-null   object
 6   Car registration        3346 non-null   float64
 7   Traffic rate            3236 non-null   float64
 8   Min wage                3379 non-null   object
 9   Min wage increase rate  3379 non-null   float64
 10  City bus trunk line     3379 non-null   int64
 11  City bus wide area      3379 non-null   int64
 12  City bus circulation    3379 non-null   int64
 13  City bus late at night  3379 non-null   int64
 14  Town bus                3379 non-null   int64
 15  Subway                  3379 non-null   int64
 16  Texi                    3379 non-null   int64
 17  Model texi              3379 non-null   int64
 18  Consumer price          3379 non-null   float64
 19  Interest rate           3379 non-null   float64
 20  Number of employed      3379 non-null   float64
 21  Export amount           3379 non-null   object
 22  Export growth rate      3379 non-null   float64
 23  Import amount           3379 non-null   object
 24  Import growth rate      3379 non-null   float64
dtypes: float64(11), int64(9), object(5)
memory usage: 660.1+ KB

In [6]:
# 'population' Ïó¥Ïùò ÏâºÌëú Ï†úÍ±∞ Î∞è int64Î°ú Î≥ÄÌôò
df['population'] = df['population'].str.replace(',', '').astype(int)

#
df['Min wage'] = df['Min wage'].str.replace(',', '').astype(int)

## Numeric->Categorical valueÎ°ú Î≥ÄÌôòÌïòÍ∏∞
## ÏÇ¨Ïö©Ìïú feature : economic growth rate
### 0Ïù¥Ìïò : Í≤ΩÏ†ú ÌõÑÌá¥(negative), 0~2 : Î≥∏Ï†Ñ(normal), 
### 2~4: Î≥¥ÌÜµ(weak positive),4 Ïù¥ÏÉÅ : Í∏çÏ†ïÏ†Å(positive)

In [7]:
min_e=df['Economic growth rate'].min()
min_e

-2.6

In [8]:
max_e=df['Economic growth rate'].max()
max_e

6.4

In [9]:
def get_growth_state(rate):
    if rate < 0:
        return 'negative'
    elif rate >= 0 and rate < 2:
        return 'normal'
    elif rate >= 2 and rate < 4:
        return 'weak positive'
    else:
        return 'positive'

df['Economic growth state'] = df['Economic growth rate'].apply(get_growth_state)

df

,Date,GDP,Economic growth rate,Regular Gasoline,Diesel for automobiles,population,Car registration,Traffic rate,Min wage,Min wage increase rate,...,Texi,Model texi,Consumer price,Interest rate,Number of employed,Export amount,Export growth rate,Import amount,Import growth rate,Economic growth state
0,2015-01-01,394273,2.4,1568.65,1383.99,10045027,3056588.0,5400081.5,"5,580",7.1,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
1,2015-01-02,394273,2.4,1568.65,1383.99,10045027,3056588.0,5220255.0,"5,580",7.1,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
2,2015-01-03,394273,2.4,1568.65,1383.99,10045027,3056588.0,4480084.5,"5,580",7.1,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
3,2015-01-04,394273,2.4,1568.65,1383.99,10045027,3056588.0,5486275.0,"5,580",7.1,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
4,2015-01-05,394273,2.4,1531.05,1351.25,10045027,3056588.0,5831397.0,"5,580",7.1,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,2024-03-28,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3375,2024-03-29,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3376,2024-03-30,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3377,2024-03-31,587840,1.3,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3378,2024-04-01,587840,1.3,1673.25,1551.30,"9,378,269",NaN,NaN,"9,860",2.5,...,4800,7000,113.990,0.035,525.21,"56,261,590",13.8,"54,732,441",5.4,normal

In [10]:
# Ìï¥Îãπ ÌååÏùºÏù¥ Ïó¥Î†§ÏûàÎäî Í≤ΩÏö∞ ÌååÏùº ÎßåÎì§Í∏∞Í∞Ä Í±∞Î∂ÄÎê®
#Ï†ÄÏû•ÌïòÍ∏∞
#df.to_csv('complete.csv', index=False)

In [11]:
#Ìïú Î≤àÎßå Ïã§Ìñâ
#Economic growth rate ÏÇ≠Ï†ú
df.drop(columns=['Economic growth rate'], inplace=True)
df

,Date,GDP,Regular Gasoline,Diesel for automobiles,population,Car registration,Traffic rate,Min wage,Min wage increase rate,City bus trunk line,...,Texi,Model texi,Consumer price,Interest rate,Number of employed,Export amount,Export growth rate,Import amount,Import growth rate,Economic growth state
0,2015-01-01,394273,1568.65,1383.99,10045027,3056588.0,5400081.5,"5,580",7.1,1200,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
1,2015-01-02,394273,1568.65,1383.99,10045027,3056588.0,5220255.0,"5,580",7.1,1200,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
2,2015-01-03,394273,1568.65,1383.99,10045027,3056588.0,4480084.5,"5,580",7.1,1200,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
3,2015-01-04,394273,1568.65,1383.99,10045027,3056588.0,5486275.0,"5,580",7.1,1200,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
4,2015-01-05,394273,1531.05,1351.25,10045027,3056588.0,5831397.0,"5,580",7.1,1200,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,2024-03-28,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3375,2024-03-29,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3376,2024-03-30,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3377,2024-03-31,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3378,2024-04-01,587840,1673.25,1551.30,"9,378,269",NaN,NaN,"9,860",2.5,1500,...,4800,7000,113.990,0.035,525.21,"56,261,590",13.8,"54,732,441",5.4,normal

In [12]:
df

,Date,GDP,Regular Gasoline,Diesel for automobiles,population,Car registration,Traffic rate,Min wage,Min wage increase rate,City bus trunk line,...,Texi,Model texi,Consumer price,Interest rate,Number of employed,Export amount,Export growth rate,Import amount,Import growth rate,Economic growth state
0,2015-01-01,394273,1568.65,1383.99,10045027,3056588.0,5400081.5,"5,580",7.1,1200,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
1,2015-01-02,394273,1568.65,1383.99,10045027,3056588.0,5220255.0,"5,580",7.1,1200,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
2,2015-01-03,394273,1568.65,1383.99,10045027,3056588.0,4480084.5,"5,580",7.1,1200,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
3,2015-01-04,394273,1568.65,1383.99,10045027,3056588.0,5486275.0,"5,580",7.1,1200,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
4,2015-01-05,394273,1531.05,1351.25,10045027,3056588.0,5831397.0,"5,580",7.1,1200,...,3000,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,2024-03-28,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3375,2024-03-29,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3376,2024-03-30,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3377,2024-03-31,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,4800,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal
3378,2024-04-01,587840,1673.25,1551.30,"9,378,269",NaN,NaN,"9,860",2.5,1500,...,4800,7000,113.990,0.035,525.21,"56,261,590",13.8,"54,732,441",5.4,normal

## Categorical Value 2->Îçî Ï¢ãÏùÄ ÏïÑÏù¥ÎîîÏñ¥ ÏûàÏúºÏãúÎ©¥ ÎßêÏîÄÌï¥Ï£ºÏÑ∏Ïöî
### Î≤ÑÏä§ Í∞ÄÍ≤© ÏÉÅÏäπ Ï†Ñ/ÌõÑ(2Í∞ÄÏßÄ) Low/High
### ÌÉùÏãú Í∞ÄÍ≤© ÏÉÅÏäπ 3Î≤à(3Í∞ÄÏßÄ) Low/Middle/High

In [13]:
def get_bus_fee(fee):
    if fee <= 1200.0:
        return 'Low'

    else:
        return 'High'

df['Bus fee'] = df['City bus trunk line'].apply(get_bus_fee)

df

,Date,GDP,Regular Gasoline,Diesel for automobiles,population,Car registration,Traffic rate,Min wage,Min wage increase rate,City bus trunk line,...,Model texi,Consumer price,Interest rate,Number of employed,Export amount,Export growth rate,Import amount,Import growth rate,Economic growth state,Bus fee
0,2015-01-01,394273,1568.65,1383.99,10045027,3056588.0,5400081.5,"5,580",7.1,1200,...,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low
1,2015-01-02,394273,1568.65,1383.99,10045027,3056588.0,5220255.0,"5,580",7.1,1200,...,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low
2,2015-01-03,394273,1568.65,1383.99,10045027,3056588.0,4480084.5,"5,580",7.1,1200,...,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low
3,2015-01-04,394273,1568.65,1383.99,10045027,3056588.0,5486275.0,"5,580",7.1,1200,...,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low
4,2015-01-05,394273,1531.05,1351.25,10045027,3056588.0,5831397.0,"5,580",7.1,1200,...,5000,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,2024-03-28,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High
3375,2024-03-29,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High
3376,2024-03-30,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High
3377,2024-03-31,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,7000,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High
3378,2024-04-01,587840,1673.25,1551.30,"9,378,269",NaN,NaN,"9,860",2.5,1500,...,7000,113.990,0.035,525.21,"56,261,590",13.8,"54,732,441",5.4,normal,High

In [14]:
def get_texi_state(fee):
    if fee < 0:
        return 'Low'
    elif fee >= 0 and fee < 2:
        return 'Middle'
    else:
        return 'High'

df['Texi fee'] = df['Texi'].apply(get_texi_state)

df

,Date,GDP,Regular Gasoline,Diesel for automobiles,population,Car registration,Traffic rate,Min wage,Min wage increase rate,City bus trunk line,...,Consumer price,Interest rate,Number of employed,Export amount,Export growth rate,Import amount,Import growth rate,Economic growth state,Bus fee,Texi fee
0,2015-01-01,394273,1568.65,1383.99,10045027,3056588.0,5400081.5,"5,580",7.1,1200,...,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
1,2015-01-02,394273,1568.65,1383.99,10045027,3056588.0,5220255.0,"5,580",7.1,1200,...,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
2,2015-01-03,394273,1568.65,1383.99,10045027,3056588.0,4480084.5,"5,580",7.1,1200,...,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
3,2015-01-04,394273,1568.65,1383.99,10045027,3056588.0,5486275.0,"5,580",7.1,1200,...,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
4,2015-01-05,394273,1531.05,1351.25,10045027,3056588.0,5831397.0,"5,580",7.1,1200,...,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,2024-03-28,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High,High
3375,2024-03-29,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High,High
3376,2024-03-30,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High,High
3377,2024-03-31,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,1500,...,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High,High
3378,2024-04-01,587840,1673.25,1551.30,"9,378,269",NaN,NaN,"9,860",2.5,1500,...,113.990,0.035,525.21,"56,261,590",13.8,"54,732,441",5.4,normal,High,High

In [15]:
trans_fee=['City bus trunk line','City bus wide area','City bus circulation',
           'City bus late at night','Town bus','Subway','Texi','Model texi']
df.drop(columns=trans_fee, inplace=True)

In [16]:
df

,Date,GDP,Regular Gasoline,Diesel for automobiles,population,Car registration,Traffic rate,Min wage,Min wage increase rate,Consumer price,Interest rate,Number of employed,Export amount,Export growth rate,Import amount,Import growth rate,Economic growth state,Bus fee,Texi fee
0,2015-01-01,394273,1568.65,1383.99,10045027,3056588.0,5400081.5,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
1,2015-01-02,394273,1568.65,1383.99,10045027,3056588.0,5220255.0,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
2,2015-01-03,394273,1568.65,1383.99,10045027,3056588.0,4480084.5,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
3,2015-01-04,394273,1568.65,1383.99,10045027,3056588.0,5486275.0,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
4,2015-01-05,394273,1531.05,1351.25,10045027,3056588.0,5831397.0,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,2024-03-28,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High,High
3375,2024-03-29,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High,High
3376,2024-03-30,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High,High
3377,2024-03-31,587840,1646.96,1540.20,"9,384,739",NaN,NaN,"9,860",2.5,113.940,0.035,522.41,"56,557,850",3.1,"52,267,259",-12.4,normal,High,High
3378,2024-04-01,587840,1673.25,1551.30,"9,378,269",NaN,NaN,"9,860",2.5,113.990,0.035,525.21,"56,261,590",13.8,"54,732,441",5.4,normal,High,High

In [37]:
df_cleaned = df.dropna()
df_cleaned

,Date,GDP,Regular Gasoline,Diesel for automobiles,population,Car registration,Traffic rate,Min wage,Min wage increase rate,Consumer price,Interest rate,Number of employed,Export amount,Export growth rate,Import amount,Import growth rate,Economic growth state,Bus fee,Texi fee
0,2015-01-01,394273,1568.65,1383.99,10045027,3056588.0,5400081.5,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
1,2015-01-02,394273,1568.65,1383.99,10045027,3056588.0,5220255.0,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
2,2015-01-03,394273,1568.65,1383.99,10045027,3056588.0,4480084.5,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
3,2015-01-04,394273,1568.65,1383.99,10045027,3056588.0,5486275.0,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
4,2015-01-05,394273,1531.05,1351.25,10045027,3056588.0,5831397.0,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2,weak positive,Low,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231,2023-11-06,580296,1686.08,1634.32,9390925,3191162.0,10591537.0,"9,620",5.0,112.670,0.035,522.99,"55,561,090",7.3,"51,997,805",-11.6,normal,High,High
3232,2023-11-07,580296,1686.08,1634.32,9390925,3191162.0,10610666.0,"9,620",5.0,112.670,0.035,522.99,"55,561,090",7.3,"51,997,805",-11.6,normal,High,High
3233,2023-11-08,580296,1686.08,1634.32,9390925,3191162.0,10654951.0,"9,620",5.0,112.670,0.035,522.99,"55,561,090",7.3,"51,997,805",-11.6,normal,High,High
3234,2023-11-09,580296,1686.08,1634.32,9390925,3191162.0,7677503.0,"9,620",5.0,112.670,0.035,522.99,"55,561,090",7.3,"51,997,805",-11.6,normal,High,High
3235,2023-11-10,580296,1686.08,1634.32,9390925,3191162.0,7665747.0,"9,620",5.0,112.670,0.035,522.99,"55,561,090",7.3,"51,997,805",-11.6,normal,High,High

In [33]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [43]:
X=df_cleaned.drop(columns=['Date','Traffic rate','Economic growth state','Bus fee','Texi fee'])
y=df_cleaned.iloc[:,6]
X

,GDP,Regular Gasoline,Diesel for automobiles,population,Car registration,Min wage,Min wage increase rate,Consumer price,Interest rate,Number of employed,Export amount,Export growth rate,Import amount,Import growth rate
0,394273,1568.65,1383.99,10045027,3056588.0,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2
1,394273,1568.65,1383.99,10045027,3056588.0,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2
2,394273,1568.65,1383.99,10045027,3056588.0,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2
3,394273,1568.65,1383.99,10045027,3056588.0,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2
4,394273,1531.05,1351.25,10045027,3056588.0,"5,580",7.1,94.643,0.020,516.65,"45,105,389",-1.0,"39,283,025",-12.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231,580296,1686.08,1634.32,9390925,3191162.0,"9,620",5.0,112.670,0.035,522.99,"55,561,090",7.3,"51,997,805",-11.6
3232,580296,1686.08,1634.32,9390925,3191162.0,"9,620",5.0,112.670,0.035,522.99,"55,561,090",7.3,"51,997,805",-11.6
3233,580296,1686.08,1634.32,9390925,3191162.0,"9,620",5.0,112.670,0.035,522.99,"55,561,090",7.3,"51,997,805",-11.6
3234,580296,1686.08,1634.32,9390925,3191162.0,"9,620",5.0,112.670,0.035,522.99,"55,561,090",7.3,"51,997,805",-11.6
3235,580296,1686.08,1634.32,9390925,3191162.0,"9,620",5.0,112.670,0.035,522.99,"55,561,090",7.3,"51,997,805",-11.6

In [44]:
#apply SelectKBest class to extract top 10 best features

bestfeatures=SelectKBest(score_func=chi2,k=10)
fit=bestfeatures.fit(X,y)
dfcolumns=pd.Dataframe(X.columns)
dfscores=pd.DataFrame(fit.scores_)

ValueError: could not convert string to float: '5,580'

In [ ]:
#concatenate two dataframes for better visualization

featureScores=pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns=['Specs','Score'] #name the dataframe columns

print(featureScores.nlargest(10,'Score')) #print 10 best features

In [ ]:
#Ï†ïÍ∑úÌôî : Normalization, Min-max scaling, Robust scaling
#Ïú†ÏùòÎØ∏Ìïú Í≤∞Í≥ºÍ∞Ä ÏïàÎÇòÏò§Î©¥ Î≤îÏúÑ ÏûòÎùºÏÑú (ex)1ÎÖÑÏπòÎßå Î∂ÑÏÑù Ìï¥Î≥¥Î©¥ Ï¢ãÏùÑ ÏàòÎèÑ?