In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
traffic_rate = pd.read_excel("traffic_rate.xlsx")
traffic_rate.head()

,Date,Entry-Exit Type Code,TCS Hi-Pass Type Code,Expressway Management Agency Type Code,Business Type Code,Type 1 Traffic Volume,Type 2 Traffic Volume,Type 3 Traffic Volume,Type 4 Traffic Volume,Type 5 Traffic Volume,Type 6 Traffic Volume,Total Traffic Volume
0,20110101,0,1,0,0,980726,16602,12727,11516,12352,31434,1065357
1,20110101,0,1,0,1,205652,2454,2577,1570,1023,13203,226479
2,20110101,0,1,2,0,48520,834,559,778,598,2154,53443
3,20110101,0,1,1,0,23266,487,510,470,652,789,26174
4,20110101,0,1,8,0,37792,227,242,361,869,1243,40734

In [3]:
traffic_rate.columns

Index(['Date', 'Entry-Exit Type Code', 'TCS Hi-Pass Type Code',
       'Expressway Management Agency Type Code', 'Business Type Code',
       'Type 1 Traffic Volume', 'Type 2 Traffic Volume',
       'Type 3 Traffic Volume', 'Type 4 Traffic Volume',
       'Type 5 Traffic Volume', 'Type 6 Traffic Volume',
       'Total Traffic Volume'],
      dtype='object')

In [4]:
traffic_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264804 entries, 0 to 264803
Data columns (total 12 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Date                                    264804 non-null  int64
 1   Entry-Exit Type Code                    264804 non-null  int64
 2   TCS Hi-Pass Type Code                   264804 non-null  int64
 3   Expressway Management Agency Type Code  264804 non-null  int64
 4   Business Type Code                      264804 non-null  int64
 5   Type 1 Traffic Volume                   264804 non-null  int64
 6   Type 2 Traffic Volume                   264804 non-null  int64
 7   Type 3 Traffic Volume                   264804 non-null  int64
 8   Type 4 Traffic Volume                   264804 non-null  int64
 9   Type 5 Traffic Volume                   264804 non-null  int64
 10  Type 6 Traffic Volume                   264804 non-null  int64
 11  Total Traffic Volume                    264804 non-null  int64
dtypes: int64(12)
memory usage: 24.2 MB

In [5]:
traffic_rate_drop = traffic_rate.dropna()
traffic_rate_drop

,Date,Entry-Exit Type Code,TCS Hi-Pass Type Code,Expressway Management Agency Type Code,Business Type Code,Type 1 Traffic Volume,Type 2 Traffic Volume,Type 3 Traffic Volume,Type 4 Traffic Volume,Type 5 Traffic Volume,Type 6 Traffic Volume,Total Traffic Volume
0,20110101,0,1,0,0,980726,16602,12727,11516,12352,31434,1065357
1,20110101,0,1,0,1,205652,2454,2577,1570,1023,13203,226479
2,20110101,0,1,2,0,48520,834,559,778,598,2154,53443
3,20110101,0,1,1,0,23266,487,510,470,652,789,26174
4,20110101,0,1,8,0,37792,227,242,361,869,1243,40734
...,...,...,...,...,...,...,...,...,...,...,...,...
264799,20231231,1,2,1,0,111496,510,4476,992,932,2469,120875
264800,20231231,1,2,49,0,51319,810,602,1029,245,2075,56080
264801,20231231,1,2,46,0,4405,38,132,69,92,163,4899
264802,20231231,1,2,11,0,72006,486,1020,439,286,3163,77400
264803,20231231,1,2,2,0,101873,754,1142,1045,419,3134,108367

In [6]:
traffic_rate_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264804 entries, 0 to 264803
Data columns (total 12 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Date                                    264804 non-null  int64
 1   Entry-Exit Type Code                    264804 non-null  int64
 2   TCS Hi-Pass Type Code                   264804 non-null  int64
 3   Expressway Management Agency Type Code  264804 non-null  int64
 4   Business Type Code                      264804 non-null  int64
 5   Type 1 Traffic Volume                   264804 non-null  int64
 6   Type 2 Traffic Volume                   264804 non-null  int64
 7   Type 3 Traffic Volume                   264804 non-null  int64
 8   Type 4 Traffic Volume                   264804 non-null  int64
 9   Type 5 Traffic Volume                   264804 non-null  int64
 10  Type 6 Traffic Volume                   264804 non-null  int64
 11  Total Traffic Volume                    264804 non-null  int64
dtypes: int64(12)
memory usage: 24.2 MB

In [7]:
traffic_rate_drop.describe()

,Date,Entry-Exit Type Code,TCS Hi-Pass Type Code,Expressway Management Agency Type Code,Business Type Code,Type 1 Traffic Volume,Type 2 Traffic Volume,Type 3 Traffic Volume,Type 4 Traffic Volume,Type 5 Traffic Volume,Type 6 Traffic Volume,Total Traffic Volume
count,2.648040e+05,264804.000000,264804.000000,264804.000000,264804.000000,2.648040e+05,2.648040e+05,2.648040e+05,2.648040e+05,2.648040e+05,2.648040e+05,2.648040e+05
mean,2.018553e+07,0.499996,1.500094,17.218305,0.319044,1.213827e+05,4.450770e+03,5.605257e+03,3.702307e+03,5.555625e+03,6.492805e+03,1.471894e+05
std,3.581522e+04,0.500001,0.500001,16.366291,0.466107,3.314878e+05,1.456332e+04,1.693413e+04,1.292729e+04,2.078109e+04,1.734733e+04,3.978642e+05
min,2.011010e+07,0.000000,1.000000,0.000000,0.000000,9.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01
25%,2.016051e+07,0.000000,1.000000,2.000000,0.000000,5.263000e+03,1.050000e+02,1.570000e+02,4.000000e+01,2.600000e+01,2.780000e+02,6.596750e+03
50%,2.019101e+07,0.000000,2.000000,10.000000,0.000000,2.041900e+04,5.770000e+02,9.210000e+02,4.240000e+02,3.220000e+02,1.449000e+03,2.885400e+04
75%,2.021122e+07,1.000000,2.000000,28.000000,1.000000,6.916775e+04,2.162000e+03,2.659000e+03,1.792000e+03,3.021000e+03,3.315000e+03,8.182200e+04
max,2.023123e+07,1.000000,2.000000,49.000000,1.000000,3.871563e+06,1.644033e+06,1.650203e+06,1.015100e+06,1.274614e+06,1.497685e+06,6.431757e+06

In [8]:
traffic_rate_drop.dtypes

Date                                      int64
Entry-Exit Type Code                      int64
TCS Hi-Pass Type Code                     int64
Expressway Management Agency Type Code    int64
Business Type Code                        int64
Type 1 Traffic Volume                     int64
Type 2 Traffic Volume                     int64
Type 3 Traffic Volume                     int64
Type 4 Traffic Volume                     int64
Type 5 Traffic Volume                     int64
Type 6 Traffic Volume                     int64
Total Traffic Volume                      int64
dtype: object

In [13]:
traffic_rate_drop_calculated = traffic_rate_drop.groupby('Date')['Total Traffic Volume'].sum().reset_index()
traffic_rate_drop_calculated

          Date  Total Traffic Volume
0     20110101               5466446
1     20110102               5059821
2     20110103               5631394
3     20110104               5584995
4     20110105               5742955
...        ...                   ...
4741  20231227              10276694
4742  20231228              10408581
4743  20231229              11018411
4744  20231230               8958402
4745  20231231               7891390

[4746 rows x 2 columns]

In [17]:
plt.figure(figsize=(8, 6))
sns.boxplot(x='Date', data=traffic_rate_drop_calculated)
plt.title('Boxplot of X')
plt.show()

TypeError: Data source must be a DataFrame or Mapping, not <class 'pandas.core.series.Series'>.

In [15]:
traffic_rate_drop_calculated['Date'] = pd.to_datetime(traffic_rate_drop_calculated['Date'], format='%Y%m%d')
traffic_rate_drop_calculated['Date'] = traffic_rate_drop_calculated['Date'].dt.strftime('%Y-%m-%d')
traffic_rate_drop_calculated.to_excel('traffic_rate_drop_calculated.xlsx', index=False)